.bojoSection {
    margin-bottom: 20px; 
    border: 1px solid black; 
    border-radius: 2px;
    padding: 10px; 
}

.bojoSection th,
.bojoSection td {
    padding: 0px 10px;
    text-align: right;
}

.bojoSection th:nth-child(1),
.bojoSection td:nth-child(1) {
    text-align: left;
}

.namesTable th,
.namesTable td {
    padding: 0px 5px;
}

.namesTable th:nth-child(2),
.namesTable td:nth-child(2) {
    width: 90px;
}

.namesTable input {
    width: 100%;
}

.bojoSection h4,
.bojoSection h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.red {
    color: red;
}

.negative {
    font-weight: bold;
}
.positive {
    font-weight: bold;
    color: #2ead30;
}

hr {
    margin-bottom: 20px;
}

.successSection {
    background: #d1f1cf;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    color: black;
}

.errorSection {
    background: #f0cfcf;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    color: black;
}

.successSection th,
.successSection td {
    padding: 0px 10px;
    text-align: right;
}

.successSection th:nth-child(1),
.successSection td:nth-child(1) {
    text-align: left;
}

.successSection h4 {
    margin: 0px;
    margin-bottom: 10px;
}

.nameCompare {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.warning {
    background: yellow;
    font-weight: bold;
}

.success {
    background: #d1f1cf;
}

.hideme {
    display: none;
}

.expandclick {
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}